.buttonFilter {
    @apply rounded-l-full;

    background-color: rgb(85, 132, 220);
    width: 80px;
    height: 25px;
}

.buttonSearch {
    @apply rounded-r-full;

    background-color: rgb(85, 132, 220);
    width: 80px;
    height: 25px;
}

@media (max-width: 768px) {
    .card {
        @apply w-20;
    }

    .studentPotrait {
        @apply size-16 rounded-full object-cover;
    }

    .studentSchool {
        @apply hidden;
    }

    .studentName {
        @apply text-[12px]/[14px];
    }
}
