.card {
    @apply w-36 h-72 m-1 p-2 flex flex-col items-center overflow-hidden;

    border: 2px solid rgb(255, 255, 255);
}

.studentPotrait {
    @apply size-32 rounded-full object-cover;
}

.studentSchool {
    @apply my-1 w-20 h-auto;
}

.studentName {
    @apply text-center;
}

.buttonFilter {
    @apply rounded-l-full;

    background-color: rgb(85, 132, 220);
    width: 80px;
    height: 25px;
}

.buttonSearch {
    @apply rounded-r-full;

    background-color: rgb(85, 132, 220);
    width: 80px;
    height: 25px;
}
