.headerContainer {
    @apply h-10 w-dvw pl-5 backdrop-blur-md flex flex-row items-center sticky top-0 z-50;

    background-color: rgba(0, 0, 0, 0.626);
}

.logoIMG {
    @apply h-10 flex mr-5;
}

.Home,
.studentList,
.enemyList {
    @apply mr-7 text-lg font-semibold italic;

    color: #f0f8ff;
}

.logo {
    @apply mr-4;

    color: #f0f8ff;
}
