.background {
    @apply fixed inset-0 w-full h-full z-[-1];
    background-color: rgb(38, 47, 67);
}

.contentContainer {
    @apply h-[calc(100vh-2.5rem)] relative flex flex-row gap-10 items-center justify-center;
}

.enemyListContainer {
    @apply h-[calc(100%-10px)] relative flex flex-col;
    background-color: rgba(0, 0, 0, 0.3);
}

.tab {
    @apply w-full flex flex-row;
    background-color: rgba(0, 0, 0, 0.3);
}

.enemyList {
    @apply w-full h-[800px] p-2 gap-2 flex flex-col items-center overflow-x-hidden;
}
.enemyList::-webkit-scrollbar {
    @apply w-[5px];
}
.enemyList::-webkit-scrollbar-thumb {
    @apply rounded-full;
    background-color: #ffffff;
}
.enemyList::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.enemyDetailContainer {
    @apply w-[500px] h-[calc(100vh-2.5rem)] gap-1 relative flex flex-col;
    background-color: rgba(0, 0, 0, 0.3);
}

.enemyHeader {
    @apply w-full relative font-bold text-2xl italic;
    background-color: rgba(0, 0, 0, 0.3);
}

.enemyBanner {
    @apply w-full h-[130px] shrink-0 relative overflow-hidden flex;
    background-color: rgba(0, 0, 0, 0.3);
}

.difficultyTab {
    @apply w-full flex gap-1 px-1 shrink-0 flex-row overflow-x-scroll;
    background-color: rgba(0, 0, 0, 0.3);
}
.difficultyTab::-webkit-scrollbar {
    @apply h-[5px];
}
.difficultyTab::-webkit-scrollbar-thumb {
    @apply rounded-full;
    background-color: #ffffff;
}
.difficultyTab::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.enemyDetail {
    @apply w-[calc(100%+5px)] relative overflow-y-scroll;
}
.enemyDetail::-webkit-scrollbar {
    @apply w-[5px];
}
.enemyDetail::-webkit-scrollbar-thumb {
    @apply rounded-full;
    background-color: #ffffff;
}
.enemyDetail::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.statDetail {
    @apply w-full flex flex-col;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 880px) {
    .contentContainer {
        @apply flex-col justify-start;
    }

    .enemyList {
        @apply h-auto flex-row flex-wrap justify-center;
    }

    .enemyDetailContainer {
        @apply w-full h-auto;
    }

    .enemyDetail {
        @apply w-full;
    }
}
