.skillContainer {
    @apply mt-1 w-full overflow-y-auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.skillInfoHeader {
    @apply w-full h-24 flex flex-row items-center;
}

.skillIcon {
    @apply relative size-24 flex items-center justify-center;
}

.skillIconImg {
    @apply absolute size-20 object-contain z-40;
}

.skillIconBG {
    @apply absolute size-24 object-contain;
}

.skillInfoContainer {
    @apply flex flex-col;
}

.skillInfoName {
    @apply font-bold text-xl tracking-normal;
}

.skillInfoStat {
    @apply my-1 flex flex-row;
}

.skillInfoType {
    @apply italic text-base tracking-wide;
}

.skillInfoATGCost {
    @apply mr-2 w-8 rounded-full font-bold italic text-base text-center;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.skillInfoDescription {
    @apply pl-2 pr-4 text-base text-justify;
}
