.studentName {
    @apply font-bold text-2xl italic;
}

.role {
    @apply flex flex-row items-center;

    .starGrade {
        @apply shrink-0 h-8 w-[6.875rem] py-1 px-3 ml-1 rounded-full flex flex-row;
        background-color: rgba(0, 0, 0, 0.675);
    }
    .starIMG {
        @apply shrink-0 mx-0.5;
    }
    .typeSquad {
        @apply font-bold italic shrink-0 h-6 w-[6.25rem] py-1 px-3 ml-1 rounded-full flex flex-row items-center justify-center;
    }
}

.container2 {
    @apply mt-1;
    background-color: rgba(0, 0, 0, 0.3);
}

.container3 {
    @apply mt-1 flex flex-row;
    background-color: rgba(0, 0, 0, 0.3);
}

.container4 {
    @apply mt-1 flex flex-row;
    background-color: rgba(0, 0, 0, 0.3);

    .studentStat {
        @apply w-48 mr-1;
    }
    .studentSkill {
        @apply w-48;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.roundedContainer {
    @apply shrink-0 w-12 h-12 mr-1 rounded-full flex items-center place-content-center;
    background-color: rgba(0, 0, 0, 0.675);
}

.attackTypeImg,
.defenseTypeImg {
    @apply w-4/6 h-4/6 object-contain;
}
