.background {
    @apply fixed inset-0 w-full h-full z-[-1];

    .backgroundImg {
        @apply w-full h-full object-cover blur-md brightness-[0.75] scale-[1.1];
    }
}

.container {
    @apply h-[calc(100vh-2.5rem)] gap-10 relative flex justify-center;
}

.characterSpriteContainer {
    @apply h-full min-w-[500px] flex justify-center items-center;

    background-color: rgba(0, 0, 0, 0);
}

.characterSpriteContainer img {
    @apply h-full object-cover;
}

.descriptionContainer {
    @apply flex flex-row w-[550px] h-full;
}
.tabDescriptionContainer {
    @apply relative w-[94px] h-full gap-1 mr-1 flex flex-col justify-center items-end;
}
.contentDescriptionContainerScroll {
    @apply w-[457px] overflow-y-auto overflow-x-hidden;
}
.contentDescriptionContainerScroll::-webkit-scrollbar {
    width: 5px;
}
.contentDescriptionContainerScroll::-webkit-scrollbar-thumb {
    @apply rounded-full;
    background-color: #ffffff;
}
.contentDescriptionContainerScroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.contentDescriptionContainer {
    @apply w-[452px] min-h-full;

    background-color: hsla(0, 0%, 0%, 0.3);
}

@media (max-width: 1090px) {
    .container {
        @apply w-screen h-auto gap-0 flex-col;
    }

    .descriptionContainer {
        @apply w-screen flex-col;
    }

    .tabDescriptionContainer {
        @apply w-full h-auto relative flex-row items-center justify-center;
    }

    .characterSpriteContainer {
        @apply h-[82vh];
    }

    .contentDescriptionContainerScroll {
        @apply w-screen;
    }

    .contentDescriptionContainer {
        @apply w-full;
    }
}
