.container {
    @apply flex;
}
.circleContainer {
    @apply w-20 h-20 rounded-l-full flex items-center justify-center;

    background-color: rgba(0, 0, 0, 0.3);
}
.circleCenter {
    @apply size-16 rounded-full flex items-center justify-center;
    background-color: rgb(227, 227, 227);
    color: black;
}
.active {
    background-color: black;
}

/* voice tab */

.tabVoice {
    @apply w-24 h-8 m-1 rounded-md flex items-center justify-center;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.3);
}
.tabVoiceActive {
    @apply font-bold;
    background-color: white;
    color: black;
}

@media (max-width: 1090px) {
    .circleContainer {
        @apply w-20 h-auto p-2 rounded-l-none rounded-t-[20px];
    }
    .circleCenter {
        @apply h-auto rounded-full;
    }
}
