.studentName {
    @apply ml-1 font-bold text-2xl italic;
}

.role {
    @apply flex flex-row items-center;
}
.starGrade {
    @apply shrink-0 h-7 px-3 ml-1 rounded-full flex flex-row justify-center items-center;
    background-color: rgba(0, 0, 0, 0.675);
}
.starIMG {
    @apply h-5 shrink-0 mx-0.5;
}

.typeSquad {
    @apply font-bold italic shrink-0 h-6 w-[6.25rem] py-1 px-3 ml-1 rounded-full flex flex-row items-center justify-center;
}

.weaponContainer {
    @apply h-[150px] w-full mt-1 flex flex-col justify-center;
    background-color: rgba(0, 0, 0, 0.3);
}
.weaponIMG {
    @apply h-[122px] object-contain;
}
.levelWeaponContainer {
    @apply h-7 p-1 flex flex-row items-center;
}
.tierWeaponContainer {
    @apply w-10 h-5 mr-1 shrink-0 rounded-full flex items-center justify-center;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.3);
}
.tierWeaponContainerActived {
    @apply font-bold;
    background-color: rgb(255, 255, 255);
    color: black;
}
.sliderLevelWeapon,
.sliderLevel {
    @apply mr-1 w-full;
}
.infoLevelWeapon,
.infoLevel {
    @apply w-11 font-bold italic tracking-wide shrink-0 flex justify-center;
}

.sliderLevelContainer {
    @apply mt-1 p-1 w-full flex flex-row;
}

.container3 {
    @apply mt-1 w-full flex flex-row flex-wrap justify-center;
    background-color: rgba(0, 0, 0, 0.3);
}

.studentStatContainer {
    @apply mt-1 w-full grid grid-rows-4 grid-flow-col;
    background-color: rgba(0, 0, 0, 0.3);
}

.studentEquipmentContainer {
    @apply w-full h-full mt-1 overflow-hidden flex flex-row justify-center;
    background-color: rgba(0, 0, 0, 0.3);
}
.separator {
    @apply px-1 py-1 flex  justify-center items-center;
}
.separatorLine {
    @apply h-full;
    border-left: 1px solid rgb(255, 255, 255);
}

.roundedContainer {
    @apply shrink-0 w-12 h-12 mr-1 rounded-full flex items-center place-content-center;
    background-color: rgba(0, 0, 0, 0.3);
}

.attackTypeImg,
.defenseTypeImg {
    @apply w-4/6 h-4/6 object-contain;
}

.tierStudentContainer {
    @apply flex flex-row items-center;
}
.starStudentContainer {
    @apply shrink-0 h-7 px-2 ml-1 rounded-full flex flex-row justify-center items-center;
    background-color: rgba(0, 0, 0, 0.4);
}
.starStudentImg {
    @apply h-5 shrink-0 mx-[1px];
}

.bondStudentContainer {
    @apply shrink-0 h-10 ml-1 rounded-full flex flex-row justify-center items-center;
    background-color: rgba(0, 0, 0, 0.4);
}
.bondStudentPotrait {
    @apply size-10 h-full rounded-full  object-cover;
}
.bondStudentInfo {
    @apply w-7 mr-1.5 font-bold flex justify-center items-center text-center focus:outline-none focus:ring-0;
    background-color: rgba(255, 255, 255, 0);
}
.bondStudentInfo::-webkit-outer-spin-button,
.bondStudentInfo::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* stat.tsx */

.statContainer {
    @apply w-full flex items-center;
}
.name {
    @apply flex-grow overflow-hidden whitespace-nowrap text-ellipsis;
}
.value {
    @apply ml-5 mr-2 flex-shrink-0;
}

/* .terrain.tsx */

.terrainContainer {
    @apply shrink-0 flex w-24 min-w-12 h-12 items-center;

    background-color: rgba(0, 0, 0, 0.3);

    .terrainImg {
        @apply w-full h-full object-contain;
    }

    .terrainValue {
        @apply w-4/5 h-4/5 mr-1 object-contain;
    }
}

/* equipment.tsx */

.equipmentContainer {
    @apply m-1.5  grow-0 flex flex-col;
}
.containerImg {
    @apply flex size-16 rounded-full justify-center items-center;
    background-color: rgb(140, 147, 158);
}
.equipmentImg {
    @apply object-contain;
}
.equipmentLevel {
    @apply h-8 flex flex-row justify-center items-center;
}
.equipmentLevelArrowContainer {
    @apply size-3 flex;
}
.equipmentLevelInfo {
    @apply font-bold mx-2;
}
.equipmentLevelArrowDecrease {
    @apply rotate-180 object-contain;
}
.equipmentLevelArrowIncrease {
    @apply object-contain;
}

@media (max-width: 768px) {
}
